<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hiking Guide</title>
</head>
<body style="background: url(https://static.vecteezy.com/system/resources/previews/001/332/975/large_2x/colored-granite-and-schist-rock-face-photo.jpg) no-repeat; background-size: cover; padding: 50px;">
<div class="guide_nav"><a href="/dashboard" role="button" class="btn btn-warning">Dashboard</a> <a href="/logout" role="button" class="btn btn-danger" id="logout_head">Logout</a></div>
    <div class="jumbotron" id="guide_jumbotron">
        <h4 class="display-5" style="color: white; margin-left: 10px;">Neccessary Items for Hiking Safely:</h4>
        <hr class="my-2">
    <div class="hiking_guide">
        <div id="hiking_links">
            <div class="card text-white bg-dark mb-3 d-inline-block" style="max-width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">Hiking Shoes</h4>
                    <a href="https://www.amazon.com/s?k=hiking+shoes" target="_blank" class="text-danger"><img id="guide_imgs" src="https://www.rei.com/media/afbc5dc9-c1c1-409c-9c3c-2094224c3190" alt="Hiking Shoes"></a><br>
                </div>
            </div>
            <div class="card text-white bg-dark mb-3 d-inline-block" style="max-width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">Water Bottles</h4>
                    <a href="https://www.amazon.com/s?k=hiking+water+bottle" target="_blank" class="text-info"><img id="guide_imgs" src="https://m.media-amazon.com/images/I/41rV8r0foJL.jpg" alt="Water Bottle"></a><br>
                </div>
            </div>
            <div class="card text-white bg-dark mb-3 d-inline-block" style="max-width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">Jacket</h4>
                    <a href="https://www.amazon.com/s?k=weatherproof+hiking+jacket" target="_blank" class="text-success"><img id="guide_imgs" src="https://ae01.alicdn.com/kf/H77df92069856492a8caa7f37ec1b7bf3A/JLETOLI-Waterproof-Jacket-Windbreaker-Winter-Outdoor-Hiking-Jacket-Men-Women-Coat-Windproof-Hard-Shell-Jacket-Tactics.jpg_Q90.jpg_.webp" alt="Weatherproof Hiking Jacket"></a><br>
                </div>
            </div>
            <div class="card text-white bg-dark mb-3 d-inline-block" style="max-width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">Backpack</h4>
                    <a href="https://www.amazon.com/s?k=hiking+backpack" target="_blank"><img id="guide_imgs" src="https://images-na.ssl-images-amazon.com/images/I/61fViyZEyWL._AC_UL1001_.jpg" alt="Hiking Backpack"></a><br>
                </div>
            </div>
            <div class="card text-white bg-dark mb-3 d-inline-block" style="max-width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">Hiking Poles</h4>
                    <a href="https://www.amazon.com/s?k=hiking+poles" target="_blank" class="text-danger"><img id="guide_imgs" src="https://images-na.ssl-images-amazon.com/images/I/613wJ2USswL._AC_SX425_.jpg" alt="Hiking Poles"></a><br>
                </div>
            </div>
            <div class="card text-white bg-dark mb-3 d-inline-block" style="max-width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">Sunglasses</h4>
                    <a href="https://www.amazon.com/s?k=ray+bans" target="_blank" class="text-dark"><img id="guide_imgs" src="https://images.ray-ban.com/is/image/RayBan/8053672562484__STD__shad__al2.png?impolicy=RB_Product&width=1024&bgc=%23f2f2f2" alt="Ray Bans"></a><br>
                </div>
            </div>
            <div class="card text-white bg-dark mb-3 d-inline-block" style="max-width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">Sunblock</h4>
                    <a href="https://www.amazon.com/s?k=sunblock" target="_blank" class="text-info"><img id="guide_imgs" src="https://images-ext-2.discordapp.net/external/tESk0ZyIO2g0Xa1JD4iMdeDjRPJZb1XFhV7A7JnFHjI/https/mobileimages.lowes.com/product/converted/079656/079656049718.jpg?width=473&height=473" alt="Sunscreen"></a><br>
                </div>
            </div>
            <div class="card text-white bg-dark mb-3 d-inline-block" style="max-width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">Bear Spray</h4>
                    <a href=https://www.amazon.com/s?k=bear+spray"" target="_blank" class="text-warning"><img id="guide_imgs" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQiw-fcUeFiuE4j7GNsCC5dqERoKqlACL4dzA&usqp=CAU" alt="Bear Spray"></a><br>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>